<div class="container">
  <div class="title">
    <h1>Luniverse</h1>
    <h2>rARAM</h2>
  </div>

  <div class="content">
    <div class="top">
      <div class="summoner">
        <div class="image">
          <img src="../../assets/images/zyra.png">
          <div class="level">
            <p>{{summoner.level}}</p>
          </div>
        </div>
        <div class="details">
          <h3>{{summoner.summonerName}}</h3>
          <div class="snax">
            <img src="../../assets/images/poro-snax.png">
            <p>{{summoner.snax}} Snax</p>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="topPlayedChampions">
        <div class="title">
          <h5>Top Played Champions</h5>
        </div>

        <div class="champions">
          <div class="champion" *ngFor="let champion of summoner.topChampions">
            <app-champion [topChampion]="champion"></app-champion>
          </div>
        </div>
      </div>
      <div class="matchHistory">
        <div class="title">
          <h5>Match History</h5>
        </div>

        <div class="matches">
          <div class="match" *ngFor="let match of summoner.matchHistory">
            <app-match [summonerName]="summoner.summonerName" [match]="match"></app-match>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>